.landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  > img.logo {
    @include tabletandmobile {
      height: 24px;
      margin: 0 auto;
    }
    z-index: 2;
    height: 36px;
    position: absolute;
    top: 16px;
    left: 24px;
  }
  > img.background {
    @include tabletandmobile {
      z-index: 1;
      position: absolute;
      min-height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      &.two {
        display: none;
      }
    }
    z-index: 1;
    position: absolute;
    min-height: 100%;
    width: 50%;
    left: 0;
    &.two {
      right: 0;
      left: 50%;
      filter: blur(6px);
      -webkit-filter: blur(6px);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
  > div {
    @include tabletandmobile {
      @include border-radius(18px 18px 0 0);
      height: 90vh;
      min-height: 90vh;
      margin-left: 0;
      width: 100%;
      bottom: 0;
      position: absolute;
      box-shadow: 0 2px 50px $c-25;
    }
    z-index: 3;
    background-color: rgba(251,254,255,.90);
    min-height: 100%;
    padding-top: 20px;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    overflow: auto;
    position: relative;
  }
}
