.home-w-head {
  width: 100%;
}
.home-w-l {
  width: 296px;
  @include tabletandmobile {
    @include transition(all, 300ms);
    padding-left: 0 !important;
    margin-left: 0vw;
    &.contact_active {
      margin-left: -100vw;
    }
  }
}
.home-w-r {
  @include transition(all, 300ms);
  @include tabletandmobile {
    width: 100vw !important;
    max-width: 840px !important;
    padding-right: 0 !important;
  }
  &.active {
    width: 60%;
  }
  &:not(.active) {
    width: 0;
  }
}
