.home-w-head {
  width: 76px;
}
.home-w-l {
  max-width: 375px;
  min-width: 220px;
  @include tabletandmobile {
    @include transition(all, 300ms);
    width: 100vw !important;
    max-width: 840px !important;
    min-width: 325px;
    padding-left: 0 !important;
    margin-left: 0vw;
    &.contact_active {
      margin-left: -100vw;
    }
  }
}
.home-w-r {
  @include transition(all, 300ms);
  max-width: 680px;
  @include tabletandmobile {
    width: 100vw !important;
    max-width: 840px !important;
    padding-right: 0 !important;
  }
  &.active {
    width: 60%;
  }
  &:not(.active) {
    width: 0;
  }
}
.home-w-c {
  width: calc(100% - 32px);
}
.home-w-c-in {
  width: calc(100% - 56px);
}
