.header {
  height: 100vh;
  @include tabletandmobile {
    display: none;
  }
  > div.divider {
    @include border-radius(50px);
    background-color: $c-5;
    height: 2px;
    width: 20px;
  }
  > div {
    @include transition(all, 200ms);
    position: relative;
    z-index: 101;
    margin-top: 28px;
    > img {
      position: absolute;
      z-index: 102;
    }
    &:hover {
      cursor: pointer;
    }
    &:active {
      opacity: .75;
    }
  }
}
.icon-size {
  height: 20px;
  width: 20px;
}
