.nav-bar {
  height: 64px;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: white;
  box-shadow: -2px 0 20px 0 $c-10;
  z-index: 101;
  > div {
    @include transition(all, 100ms);
    @include border-radius(6px);
    @include user-select(none);
    height: 56px;
    width: 20%;
    position: relative;
    > img {
      @include transition(all, 100ms);
      position: absolute;
      margin: 0 auto;
      height: 28px;
      width: 28px;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: $c-3;
    }
  }
}
