// PRIMARY
$c-100: rgba(13,27,44,1);
$c-75: rgba(13,27,44,.75);
$c-50: rgba(13,27,44,.50);
$c-25: rgba(13,27,44,.25);
$c-10: rgba(13,27,44,.10);
$c-5: rgba(13,27,44,.05);

// GRADIENT
$c-grad: linear-gradient(#4481EB, #04BEFE);
$c-blue: #4481EB;
$c-lblue: #04BEFE;

// OTHER
$c-background: #F9FBFE;
