.home-contact {
  @include border-radius(12px);
  background-color: white;
  position: relative;
  box-shadow: 0 4px 20px 0 $c-10;
  margin-top: 120px;
  margin-left: 16px;
  margin-right: 16px;
  > div.x {
    right: -20px;
    top: -20px;
    position: absolute;
    &:hover {
      cursor: pointer;
    }
  }
}
