.home-contact {
  background-color: white;
  position: relative;
  height: 100%;

  &__top {
    height: 88px;
    width: calc(100% - 32px);
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    > span {
      @include user-select(none);
      margin-left: 10px;
      color: $c-50;
      > span {
        text-transform: capitalize;
      }
    }
    > div {
      margin-top: 4px;
      font-weight: 600;
      > div {
        @include user-select(none);
        @include transition(all, 200ms);
        @include border-radius(50px);
        background-color: $c-5;
        color: $c-75;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-right: 10px;
        &:not(.active) {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__inner {
    height: calc(100% - 88px);
    overflow: auto;
    width: 100%;
    box-shadow: 0 2px 28px 0 $c-10;
    > div.top-info {
      margin-top: 36px;
      > div {
        @include border-radius(50px);
        height: 64px;
        width: 64px;
        background-color: $c-5;
        margin-bottom: 24px;
      }
      > span {
        text-transform: capitalize;
        &.name {
          font-size: 36px;
          color: $c-75;
        }
        &.loc {
          margin-top: 16px;
          color: $c-50;
        }
      }
    }
    > input.bio {
      width: calc(100% - 56px);
      margin-left: 28px;
      text-align: center;
      margin-top: 8px;
      &::placeholder {
        text-align: center;
      }
    }
    > div.interactions {
      width: calc(100% - 56px);
      margin-left: 28px;
      margin-top: 36px;
      > div.title {
        > div {
          flex: 1;
          height: 1px;
          margin-left: 10px;
          background-color: $c-10;
        }
      }
    }
  }
}
.interaction {
  @include border-radius(6px);
  margin-top: 10px;
  margin-bottom: 26px;
  background-color: white;
  box-shadow: 0 2px 20px $c-10;
  padding: 16px;
  > div {
    width: 100%;
    > div.info {
      > span {
        &.two {
          opacity: .5;
          font-size: 14px;
        }
      }
    }
    > div.date {
      font-size: 14px;
      > span {
        &.one { opacity: .5 }
        &.two { opacity: .25 }
      }
    }
  }
  > textarea {
    width: calc(100% - 16px);
    padding-left: 16px;
    margin-top: 8px;
    box-shadow: inset 1px 0 0 0 $c-10;
    color: $c-50;
  }
}
