.home-module {
  position: relative;
  > div.left {
    z-index: 2;
    padding-left: 28px;
    height: 100%;
    position: relative;
  }
  > div.right {
    padding-right: 28px;
    height: 100%;
    position: relative;
  }
}
