.home-module {
  position: relative;
  > div.left {
    z-index: 2;
    height: 100%;
    position: relative;
    box-shadow: 1px 0 0 0 $c-blue-10;
    // background-image: linear-gradient(135deg, #F9F8FD 0%, #F9F7FD 30%, #F7F6FD 60%, #F7F8FC 100%);
    background: $c-background;

    > div.fade {
      height: 48px;
      top: 64px;
      width: 20px;
      position: absolute;
      right: 18px;
      background: linear-gradient(to right, rgba(249,251,254,0), $c-background)
    }
  }
  > div.right {
    height: 100%;
    position: relative;
  }
}
