.home-search {
  @include border-radius(8px);
  width: calc(100% - 56px);
  margin-left: 28px;
  margin-top: 28px;
  @include tabletandmobile {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
  > img {
    margin-right: 6px;
  }
  > input {
    padding-right: 12px;
    height: 100%;
    flex: 1;
  }
}
